body {
    background-color: #f4f4f9 !important;
    margin: 0%;
    padding: 0%;
  }
  
.main{
    width:1170px;
    margin: 0 auto;
}

.main ul{
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;
}

.main ul li{
    float: none;
    display: inline-block;
}

.main ul li:nth-child(1){float: left;}
.main ul li:nth-child(2){float: left;}
.main ul li:nth-child(3){float: left;}
.main ul li a{
    color: #fcca46;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: lucida console;
    padding: 5px 20px;
}

.main ul li a:hover{transition: 1s;
background-color: white;
border-radius: 10px;
color: black;
}
#navbar{
    width: 100%;
    position: absolute;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(0,0);
    content: '';
    transition: 1s;
    border-radius: 50px;
    margin-left: -50px;
}

.logo:hover{
    transform: scale(-1.01);
    transition: 1s;
}

header{
    position: fixed;
    width: 100%;
    top: 40px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: 15px 100px;
    transition: 0.5s;
    /*background: var(--main-color);*/
}

.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover{
    background:#fa1216;
}